.btn {
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;

  background: rgb(2, 29, 78);
  background: linear-gradient(
    270deg,
    rgba(210, 19, 73, 0.681) 0%,
    rgba(239, 4, 63, 0.873) 60%
  );

  color: rgb(243, 243, 251);
  font-weight: 800;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.btn:active {
  scale: 0.92;
}

.btn:hover {
  background: rgb(234, 211, 6);
  background: linear-gradient(
    270deg,
    rgba(242, 175, 7, 0.753) 0%,
    rgba(250, 193, 7, 0.873) 60%
  );
  color: rgb(4, 4, 38);
}

.button {
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, #0874d9, #ffeb3b, #ef5704);
  animation: animate 4s linear infinite;
  border: none;
  cursor: pointer;
}

.button,
.display,
#msg {
  transition: 0.3s;
}

.button:active .display {
  background: rgba(255, 255, 255, 0.5);
}

.button:active .display #msg {
  -webkit-text-fill-color: #1b1b1b;
}

.button:hover {
  scale: 1.02;
  animation: animate 2s linear infinite;
}

.button .display,
.button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button .display {
  z-index: 1;
  background-color: #1b1b1b;
  height: 42.5px;
  width: 172.5px;
  border-radius: 20px;
  text-align: center;
}

.button .display #msg {
  line-height: 42.5px;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 3px;
  background: linear-gradient(135deg, #0874d9, #ffeb3b, #ef5704);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}

.button span {
  height: 100%;
  width: 100%;
  background: inherit;
  border-radius: 25px;
}

.button span:first-child {
  filter: blur(15px);
}

.button span:last-child {
  filter: blur(15px);
  transition: 0.3s;
}

.button:hover span:last-child {
  width: 110%;
  height: 120%;
}
