::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #8624e8;
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 6px;
  color: cadetblue;
}

.custom-scrollbar {
  height: "100vh";
  width: "100vw";
  overflow-y: "scroll";
}
